---
import BaseLayout from '../layouts/BaseLayout.astro';
import Beans from '../components/Beans.astro';
// Import Stylesheet
import '../styles/global.css';

---
<BaseLayout>

		
		<header class="masthead">
			<h1 class="site-title">Jelly Belly</h1>
		</header>

		<main id="content" class="wrapper">

		<Beans>
		</Beans>	
		  </main>
		  


</BaseLayout>
